{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% import 'ui_helper.tmpl' as ui with context %}
{% import 'sidebar.tmpl' as sidebar with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if post.meta('keywords') %}
    <meta name="keywords" content="{{ smartjoin(', ', post.meta('keywords'))|e }}">
    {% endif %}
    <meta name="author" content="{{ post.author()|e }}">
    {% if post.prev_post %}
        <link rel="prev" href="{{ post.prev_post.permalink() }}" title="{{ post.prev_post.title()|e }}" type="text/html">
    {% endif %}
    {% if post.next_post %}
        <link rel="next" href="{{ post.next_post.permalink() }}" title="{{ post.next_post.title()|e }}" type="text/html">
    {% endif %}
    {% if post.is_draft %}
        <meta name="robots" content="noindex">
    {% endif %}
    {{ base.open_graph_metadata(post) }}
    {{ helper.twitter_card_information(post) }}
    {{ helper.meta_translations(post) }}
{% endblock %}

{% block content %}
<div class="col-12 col-md-9">
<article class="post-{{ post.meta('type') }} h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article">
    {{ pheader.html_post_header() }}
    <div class="e-content entry-content" itemprop="articleBody text">
    {{ post.text() }}
    </div>
    <aside class="postpromonav">
    <nav>
    {{ helper.html_tags(post) }}
    {{ helper.html_pager(post) }}
    </nav>
    </aside>
    {% if not post.meta('nocomments') and site_has_comments %}
        {% set year = post.formatted_date('YYYY') | int %}
        {% if year >= 2023 %}
            <section class="comments hidden-print">
            <h2>{{ messages("Comments") }}</h2>
            {{ comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path) }}
            </section>
        {% endif %}
    {% endif %}
</article>
{{ comments.comment_link_script() }}
</div>
{{ sidebar.post_content(posts) }}
{% endblock %}

{% block sourcelink %}
{% endblock %}
